body {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    background-color: rgb(178, 128, 128);
}
.container {
    width: 350px;
    margin: auto;
    padding: 30px;
    background: rgb(213, 185, 185);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
input, button {
    margin: 10px 5px;
    padding: 8px;
    border:  none;
    border-radius: 5px;
    font-size: 14px;
}
button {
    background-color: #a17373;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #645151;
}
